:root {
    --main-heading-color: #FFFFFF;
    --main-text-color: #FFFFFF;
    --nav-text-color: #C7C7C7;
    --input-text-color: #959595;
    --first-background-color: #012D63;
    --secondary-background-color: #021635;
    --hover-color: #FFFFFF;
    --accent-color: #FFFFFF;
    --bg-btn-color: #8E32C6;
}