:root {
    --main-heading-color: #FFFFFF;
    --main-text-color: #FFFFFF;
    --nav-text-color: #C7C7C7;
    --input-text-color: #959595;
    --first-background-color: #012D63;
    --secondary-background-color: #021635;
    --hover-color: #FFFFFF;
    --accent-color: #FFFFFF;
    --bg-btn-color: #8E32C6;
}

body {
    font-family: "Roboto", sans-serif;
}

nav {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.title-font {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
}

.logo-text {
    font-family: "PT Serif", serif;
}